[submodule "extensions/administration"]
	path = extensions/administration
	url = https://github.com/notadd/administration.git
[submodule "extensions/content"]
	path = extensions/content
	url = https://github.com/notadd/content.git
[submodule "extensions/member"]
	path = extensions/member
	url = https://github.com/notadd/member.git
[submodule "extensions/wechat"]
	path = extensions/wechat
	url = https://github.com/notadd/wechat.git
[submodule "extensions/socket"]
	path = extensions/socket
	url = https://github.com/notadd/socket.git
[submodule "vendor/notadd/framework"]
	path = vendor/notadd/framework
	url = https://github.com/notadd/framework.git
[submodule "extensions/git"]
	path = extensions/git
	url = https://git.oschina.net/notadd/git.git
