default:
    type: "postgres"
    host: "192.168.109.120"
    port: 5432
    username: "postgres"
    password: "123qwe"
    database: "new"
    entities:
        - '**/*.entity.js'
    migrations:
        - '**/*.migration.js'
    logging: true
    migrationsRun: false
    subscribers:
        - '**/*.entity.subscriber.js'
    synchronize: true
