* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 20px;
    height: 100%;
}
body {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: .7rem;
    color: #666;
    background-color: #fff;
    box-sizing: border-box;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.right {
    float: right;
}
.left {
    float: left;
}
.center {
    text-align: center;
}
a:hover {
    color: #1bc9a8;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
}
@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}
.change {
    display: none;
    transition: display 10s linear;
}
.main-viewport {
    width: 100%;
    height: auto;
    min-height: 100vh;
}
header {
    height: 15rem;
    text-align: center;
    margin-bottom: 4rem;
}
.test-error header {
    background-color: #ff6e42;
}
.test-error header img {
    width: 6rem;
    margin: 2.5rem 0 0 0;
}
.test-error .error-title {
    color: #fff;
    text-align: center;
    line-height: 6.5rem;
    font-size: 2.4rem;
    margin: 0;
}
.test-error .error-panel {
    width: 100%;
    height: auto;
}
.test-error .error-panel .error-box {
    padding-top: 1rem;
}
.test-error .error-box .error-detail, .error-box .error-fix {
    margin-bottom: 2rem;
    position: relative;
}
.test-error .error-box .detail {
    margin-left: 6rem;
    background-color: #f2f2f2;
    padding: .4rem .6rem;
    line-height: 1.25rem;
    border-radius: 5px;
}
.test-error .error-box .detail p {
    margin-bottom: 0;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:focus, .btn-default:active:hover {
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}
.btn-error {
    position: absolute;
    width: 5rem;
    height: 2rem;
    line-height: 1.9rem;
    padding: 0;
    font-size: .7rem;
    border: .05rem solid #fc5555;
    color: #fc5555;
}
.btn-error:hover, .btn-error:focus, .btn-error:active, .btn-error:active:hover, .btn-error:active:focus {
    border-color: #fc5555;
    color: #fc5555;
}
.btn-fix {
    position: absolute;
    width: 5rem;
    height: 2rem;
    line-height: 1.9rem;
    padding: 0;
    font-size: .7rem;
    border: .05rem solid #1bc9a8;
    color: #1bc9a8;
}
.btn-fix:hover, .btn-fix:focus, .btn-fix:active, .btn-fix:active:hover, .btn-fix:active:focus {
    border-color: #1bc9a8;
    color: #1bc9a8;
}
.test-success header {
    background-color: #37adcf;
}
.test-success header img {
    max-width: 6rem;
    margin: 2.5rem 0 0 0;
}
.test-success .error-title {
    color: #fff;
    text-align: center;
    line-height: 6.5rem;
    font-size: 2.4rem;
    margin: 0;
    font-family: "Microsoft YaHei", sans-serif;
}
.test-success .error-panel {
    width: 25rem;
    max-width: calc(100% - 1rem);
    padding-top: 1rem;
    margin: 0 auto;
}
form .content {
    padding: 0 1rem;
}
.form-group {
    margin: 1.5rem 0 0 0;
}
.form-control {
    height: 2rem;
    padding: .5rem 0;
}
.form-group label.control-label {
    font-size: .9rem;
    padding: 0;
    text-align: left;
}
.form-group label.webp-label {
    margin: 0;
    line-height: 27px;
}
.form-group label.error {
    color: red;
    font-size: .7rem;
}
.form-group.label-floating:not(.is-empty) label.control-label {
    font-size: .7rem;
}
.togglebutton {
    float: right;
    margin-right: -15px;
}
.sql-group {
    width: 25rem;
    max-width: 100%;
    height: 2.5rem;
    background-color: #e5e5e5;
    margin: 2rem 0;
    color: #666;
    list-style: none;
    position: relative;
    border-radius: .25rem;
    overflow: hidden;
}
.sql-group .btn-sql {
    float: left;
    color: #666666;
    width: calc(33.33333333333333333333%);
    font-weight: normal;
    padding: 0;
}
.sql-group .btn-sql:hover {
    background-color: #d8d8d8;
}
.sql-group li.active .btn-sql {
    background-color: #1bc9a8;
    color: #fff;
    font-weight: normal;
}
.btn-sql {
    padding: 0;
    text-align: center;
    height: 2.5rem;
    line-height: 2.5rem;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.data {
    margin-bottom: 3rem;
}
.form-group input.submit {
    width: 27rem;
    max-width: 100%;
    height: 2.5rem;
    background-color: #1bc9a8;
    text-align: center;
    color: #fff;
    font-size: .9rem;
    line-height: .9rem;
    border: 0;
    outline: 0;
    margin: 3rem 0 5rem;
}
.form-group.is-focused .form-control {
    background-image: linear-gradient(#1bc9a8, #1bc9a8), linear-gradient(#d2d2d2, #d2d2d2);
}
.form-group.is-focused label, .form-group.is-focused label.control-label {
    color: #1bc9a8;
}
.form-group.label-floating label.control-label {
    font-size: .9rem;
    top: -10px;
}
.form-group.label-floating.is-focused label.control-label {
    font-size: .7rem;
}
.togglebutton label input[type=checkbox]:checked + .toggle {
    background-color: rgba(0, 150, 136, 0.5);
}
.togglebutton label input[type=checkbox]:checked + .toggle:after {
    background-color: #1bc9a8;
}
.install-error header {
    background-color: #fc5555;
    margin-bottom: 4rem;
}
.install-error header img {
    max-width: 6rem;
    margin: 2.5rem 0 0 0;
}
.install-error .error-title {
    color: #fff;
    text-align: center;
    line-height: 6.5rem;
    font-size: 2.4rem;
    margin: 0;
}
.install-error .error-panel {
    width: 100%;
    padding-top: 1rem;
    text-align: center;
}
.install-error .error-panel h1 {
    color: #666;
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin: 0 0 4rem;
}
.install-error .error-panel p {
    color: #666666;
    font-size: .9rem;
    margin: 0;
}
.install-success header {
    background-color: #32c379;
}
.install-success header img {
    max-width: 6rem;
    margin: 2.5rem 0 0 0;
}
.install-success .error-title {
    color: #fff;
    text-align: center;
    line-height: 6.5rem;
    font-size: 2.4rem;
    margin: 0;
}
.install-success .error-panel {
    width: 100%;
    padding-top: 1rem;
    text-align: center;
}
.install-success ul.install-info li {
    margin-bottom: 2rem;
    list-style: none;
}
.install-success ul.install-info li label {
    width: 6.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #666666;
    font-size: .9rem;
    font-weight: normal;
    text-align: left;
    margin-bottom: 0;
}
.install-success ul.install-info li span {
    display: inline-block;
    width: 20rem;
    max-width: calc(100%);
    height: 2.5rem;
    margin: 0 1rem;
    line-height: 2.5rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #666666;
    font-size: .9rem;
    text-align: left;
    padding: 0 1rem;
}
.install-success ul.install-info li #address, #index {
    background-color: #f2f2f2;
}
.install-success ul.install-info li #address:hover, #index:hover {
    background-color: #1bc9a8;
    color: #ffffff;
}
@media (max-width: 767px) {
    header {
        margin-bottom: 1rem;
    }
    .install-success ul.install-info {
        margin-bottom: 2rem;
    }
    .install-success ul.install-info li #address, #index {
        background-color: transparent;
    }
    .install-success ul.install-info li #address:hover, #index:hover {
        background-color: transparent;
        color: #666666;
    }
    .install-success ul.install-info li label {
        text-align: left;
        width: 100%;
        padding-left: 1rem;
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .install-success ul.install-info li span {
        text-align: left;
        margin: 0;
        width: 100%;
        font-weight: bold;
        height: 2rem;
        line-height: 2rem;
    }
    .install-success ul.install-info li span#help {
        padding: 0 0 0 1rem;
        margin-right: -1rem;
    }
    .install-success ul.install-info li {
        margin-bottom: .8rem;
    }
    .install-success ul.install-info li.finish {
        text-align: left;
        margin-bottom: .5rem;
    }
    .install-success ul.install-info li.finish label {
        width: auto;
        height: 2rem;
        line-height: 2rem;
    }
    .install-success ul.install-info li.finish span {
        width: auto;
        height: 2rem;
        line-height: 2rem;
        font-weight: normal;
    }
    .btn-error {
        display: block;
        position: static;
        margin: 0 0 1rem;
    }
    .btn-fix {
        display: block;
        position: static;
        margin: 0 0 1rem;
    }
    .test-error .error-box .detail {
        margin-left: 0;
    }
    .install-error .error-panel h1 {
        font-size: 2rem;
        margin-bottom: 1.8rem;
    }
    form .content {
        padding: 0;
    }
    .form-group {
        margin: 1rem 0 0 0;
    }
    .sql-group {
        margin: 1.5rem 0 2rem;
    }
    .data {
        margin-bottom: 3rem;
    }
    .form-group input.submit {
        margin: 2rem 0 3rem;
    }
}