html {
    font-size: 62.5%;
}
body {
    font-family: "Microsoft YaHei", sans-serif;
    color: #5a5a5a;
    font-size: 1.4rem;
}
@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
}
.nav-pills > li:first-child {
    float: left;
}
header {
    background: url("../images/rec_bg.png") #1bc9a8 no-repeat 50% 150%;
    height: 1000px;
}
.header .container {
    text-align: center;
    padding: 0;
}
.home .navbar {
    border: none;
}
.home .navbar-default {
    background: transparent;
}
.home .navbar-header {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    background: #1bc9a8;
}
.header .navbar {
    margin-bottom: 0;
}
.header .navbar-brand {
    float: left;
    padding: 0;
    height: auto;
}
.header .nav {
    float: right;
}
.header .nav li a {
    font-size: 2.2rem;
    color: #ffffff;
}
.header .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background: #ffffff;
    color: #1bc9a8;
}
.header .nav > li > a:focus, .nav > li > a:hover {
    color: #1bc9a8;
    background: #ffffff;
}
.header .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 13px;
    line-height: 30px;
}
.header .nav-pills > li + li {
    margin-left: 14px;
}
.focus-info {
    text-align: center;
    margin-top: 200px;
}
.focus-info h2 {
    font-size: 5rem;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 10px;
}
.focus-info h3 {
    font-size: 3rem;
    color: #ffffff;
}
.focus-info a {
    display: inline-block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #ff4f60;
    color: #ffffff;
    font-size: 2rem;
    border-radius: .5rem;
    margin-top: 56px;
    margin-bottom: 80px;
    text-decoration: none;
}
.focus-info a:hover {
    text-underline: none;
}
.computer img {
    display: inline-block;
}
.introduction {
    text-align: center;
    padding: 14rem 2rem;
}
.introduction .title h2 {
    font-size: 34px;
    color: #333333;
    margin-bottom: 20px;
}
.introduction .title p {
    font-size: 20px;
    color: #b0b0b0;
    margin-bottom: 36px;
}
.introduction .content p {
    font-size: 22px;
    line-height: 50px;
}
.function {
    height: 1030px;
    background: #f7f7f7;
    padding: 140px 0;
}
@media screen and (max-width: 1300px ) {
    .function {
        height: auto;
    }
    .function .content ul li {
        margin-bottom: 140px;
    }
}
.function .title {
    text-align: center;
}
.title.alike-title h2 {
    font-size: 34px;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.title.alike-title h2:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/area-right.png) left center no-repeat;
}
.title.alike-title h2:after {
    display: block;
    content: '';
    position: absolute;
    right: 50%;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/area-left.png) right center no-repeat;
}
.title.alike-title.area_1 h2:before {
    margin-left: 11.5rem;
}
.title.alike-title.area_1 h2:after {
    margin-right: 11.5rem;
}
.title.alike-title.area_2 h2:before {
    margin-left: 14.5rem;
}
.title.alike-title.area_2 h2:after {
    margin-right: 14.5rem;
}
.title.alike-title.area_3 h2:before {
    margin-left: 7.5rem;
}
.title.alike-title.area_3 h2:after {
    margin-right: 7.5rem;
}
.title.alike-title p {
    font-size: 20px;
    color: #b0b0b0;
    margin-bottom: 36px;
    text-align: center;
}
.function .content .title h3 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 30px;
}
.function .content ul li:nth-child(1) {
    background: url("../images/icon_fly.png") #ff5f5f no-repeat 50% 51px;
}
.function .content ul li:nth-child(2) {
    background: url("../images/icon_web.png") #3bbcff no-repeat 50% 51px;
    margin-left: 2rem;
    margin-right: 2rem;
}
.function .content ul li:nth-child(3) {
    background: url("../images/icon_space.png") #8ede47 no-repeat 50% 51px;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.flex-item {
    background: tomato;
    width: 420px;
    font-weight: bold;
    text-align: center;
    box-shadow: 3px 3px 15px #cccccc;
}
.function .content ul li .content {
    background: #ffffff;
    padding: 40px 18px;
}
.function .content ul li .content h4 {
    font-size: 30px;
    color: #333333;
}
.function .content ul li .content h4.last {
    margin-top: 84px;
}
.function .content ul li .content p {
    font-size: 20px;
    margin-top: 20px;
    font-weight: normal;
}
.quick-start {
    padding-top: 100px;
    padding-bottom: 100px;
}
.quick-start .content ul {
    text-align: center;
    position: relative;
}
.quick-start .content ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    width: 33.333333%;
    max-width: 380px;
    height: 14.1rem;
    line-height: 14.1rem;
}
.quick-start .content ul li .out-bg {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: 3px solid #b0b0b0;
}
.quick-start .content ul li .in-border {
    position: relative;
    width: 100%;
    max-width: 380px;
    height: 14.1rem;
    line-height: 14.1rem;
    margin-top: -14.1rem;
    font-size: 3rem;
    color: #333333;
}
.quick-start .content ul li .in-border a {
    display: block;
    text-decoration: none;
    color: #333333;
}
.quick-start .content ul li .in-border a:hover {
    background: #1bc9a8;
    color: #ffffff;
}
.quick-start .content ul li:nth-child(2) {
    margin: 0 3rem;
}
@media screen and (max-width: 1300px) and (max-width: 1800px) {
    .quick-start .content ul li {
        display: inline-block;
        width: 100%;
        margin-bottom: 40px !important;
    }
}
.use-case .title {
    background: url("../images/use-case-bg.png") repeat-x;
    height: 63px;

}
.use-case .content {
    background: #1bc9a8 repeat-x;
    position: relative;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
}
.use-case .content .case-list {
    display: inline-block;
    z-index: 1000;
}
.use-case .content .case-list ul li {
    float: left;
    list-style: none;
    padding: 10px;
    width: 25%;
}
.container-t {
    width: 1380px;
}
.down-iocn {
    background: url("../images/dropdown.png") no-repeat;
    background-size: 100%;
    width: 18px;
    height: 20px;
}
.use-case-title {
    margin: 0;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}
.use-case-title:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 7.5rem;
    background: url(../images/area-right-white.png) left center no-repeat;
}
.use-case-title:after {
    display: block;
    content: '';
    position: absolute;
    right: 50%;
    top: 0;
    width: 100%;
    height: 100%;
    margin-right: 7.5rem;
    background: url(../images/area-left-white.png) right center no-repeat;
}
.use-case-decri {
    color: #ffffff;
    margin-top: 20px;
}
.good-information {
    padding-top: 70px;
    padding-bottom: 140px;
}
.good-information .container {
    width: 57%;
}
.common-content {
    padding: 3.5rem .75rem 0;
    width: 45%;
}
.recommend-content {
    float: left;
    min-width: 300px;
}
.announcement {
    float: right;
    min-width: 300px;
}
.other-title h3 {
    font-size: 34px;
    color: #333333;
}
.other-title p {
    font-size: 20px;
    color: #b0b0b0;
    padding-bottom: .8rem;
}
.common-content ul {
    list-style: none;
    padding: 0 .6rem;
    border-top: .05rem solid #b0b0b0;
    border-bottom: .05rem solid #b0b0b0;
}
.list-icon {
    padding-left: .4rem;
    height: 4rem;
    line-height: 4rem;
    background: url(../images/list-icon.png) .4rem center no-repeat;
    background-size: .25rem;
    border-bottom: .025rem solid #e4e4e4;
}
.list-icon a {
    display: block;
    padding-left: .4rem;
    font-size: 1.5rem;
    color: #5a5a5a;
}
@media screen and (max-width: 1024px) {
    .good-information .container {
        width: 100%;
    }
    .common-content {
        padding: 3.5rem .75rem 0;
        width: 100%;
    }
    .recommend-content {
        float: left;
    }
    .announcement {
        float: left;
    }
    .list-icon a {
        font-size: 20px;
    }
    .introduction {
        padding-top: 18%;
    }
}
.footer {
    width: 100%;
    display: table;
    height: 200px;
    background: #000000;
    text-align: center;
}
.footer div {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
}