<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    Options +FollowSymLinks
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond  %{HTTP_USER_AGENT}  *(bot|spider|Bot|Spider)  boot.php [L]
    RewriteRule ^(api|admin) boot.php [L]
    RewriteRule ^(?api|admin) index.html [L]
</IfModule>
