.login {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &-item {
    margin-top: 10px;
    button {
      width: 100%;
    }
  }
}
