[nz-form] {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  li {
    width: 180px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .logo {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-size: cover;
      background-image: url("./服务中心.jpeg");
    }
    .desc {
      font-size: 0.8em;
      opacity: 0.7;
    }
    .permission {
      text-align: left;
    }
  }
}
